
#nav2{
    display: flex;
    width:95%;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 0px 20px;
    justify-content: space-between;
  }
  #logo{
    display: block;
    margin-left: 500px;
  }
  #navinnav{
    width:8%;
    display:flex;
    height:42px;
    padding-left:15px;
    justify-content: space-between;
    padding-top:10px;
  }
  #navinnav>.dropdown>a>img{
   width:40px;
   height:40px;
  }
  
  /* Navbar container */
  .navbar {
      overflow: hidden;
      /* background-color: #333; */
      font-family: Arial;
      width:70%;
      margin:auto;
    }
  
  
    .dropdown {
      float: left;
      overflow: hidden;
      margin-left: 4.5%;
    }
    
    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 13px;
      font-weight: bold;
      border: none;
      outline: none;
      color: rgb(0, 0, 0);
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      /* margin: 0; Important for vertical align on mobile phones */
    }
    
    /* Add a red background color to navbar links on hover */
    .navbar .dropdown:hover .dropbtn {
      background-color: rgb(243, 243, 243);
    }
    
    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-size: 12px;
    }
    
    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    #feedbackbutton{
        border:1px solid rgb(183, 177, 177);
        width:80%;
        height:50px;
        text-align: center;
        padding-top: 25px;
        margin:auto;
        font-size: 15px;
        font-family: 'Courgette', cursive;
        color:#535454
      }
    
      .fa {
        padding:15px;
        width: 18px;
        margin-left:5px;
        margin-right: 5px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      .fa-youtube {
        background: #bb0000;
        color: white;
      }
      .fa-instagram {
        background: #125688;
        color: white;
      }
      
      #mainfooter{
        background-color: #c9c9c9;
        line-height: 30px;
      }
      .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width:95%;
        font-family: 'Open Sans', sans-serif;
        font-size:13px
      }
      .footerbox p{
        cursor: pointer;
      }
      #submitbutton{
        font-size:13px;
        border:none;
        background-color: #000000;
        color:white;
        transition-duration: 0.4s;
      }
      #submitbutton:hover {
        background-color: #959595;
        color: rgb(0, 0, 0);
      }
    
      #lastline{
        background-color: #c9c9c9;
        margin:auto;
        text-align: center;
        padding-top:2px;
        font-size: 15px;
        line-height: 25px;
      }

      #card{
        width:85%;
        height:500px ;
        text-align: center;
        line-height: 15px;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 10px;
        margin-bottom: 5px;
        
      }
      
      #cartitem{
        width:65%;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:5px ;
        border-right: 2px solid rgb(194, 190, 190) ;
        border-top: 2px solid rgb(194, 190, 190);
        /* margin-left: 25%; */
       }
       #card>h3, #card>p, #card>h4{
        margin-left: 10px;
       }
       #card img{
         width:100%;
         height:300px;
         cursor: pointer;
       }

       #remove{
        background-color: #fcfcfc;
        border: none;
        cursor: pointer;
        font-weight: bold;
        color: #e31111;
        margin-left: 25%;
        margin-top: 5%;
      }
      #remove:hover{
        font-size: 16px;
      }

      #increase{
        color:#125688;
        font-weight: bold;
        font-size: 15px;
        border: none;
        cursor: pointer;
        background-color: white;
        margin-right: 5%;
      }
      #increase:hover{
        background-color: #000000;
        color: white;
      }
      
      #decrease{
        color:#125688;
        font-weight: bold;
        font-size: 15px;
        border: none;
        cursor: pointer;
        background-color: white;
        margin-right: 25px;
      }
      #decrease:hover{
        background-color: #000000;
        color: white;
      }
      #quantity{
        font-size: 20px;
        margin-right: 8%;
        margin-left: 8px;
      }

      #cartcontainer{
        display: flex;
      }
       
      #carttotal{
        width:35%;
        border:2px solid rgb(194, 190, 190);
        margin-left: 10px;
      }

      #carttotal>h3{
        margin-left:40px;
        color: #e31111;
        
      }
    
      #contact , #address{
        margin-left: 35px;
        font-size: 18px;
      }
      
      #carttotal>form>input{
        margin-left:10%;
        margin-right: 10%;
        width:80%;
        line-height: 30px;
        margin-top: 15px;
        border: 1px solid rgb(194, 190, 190);
      }

      form>button{
        margin-top: 30px;
        width:60%;
        margin-left: 20%;
        margin-right: 20%;
        height: 40px;
        background-color: #bb0000;
        color: white;
        font-weight: bold;
        font-size: 15px;
        border: none;
        cursor: pointer;
       }
       form>button:hover{
        background-color: white;
        color: #bb0000;
        border: 1px solid black;
       }
    
    
    
      